body {
  position: relative;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow);
}

main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 3fr 0.1fr 3fr 1fr;
  align-items: center;
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h2 {
  font: 600 3.5em "Raleway", sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#colors-container {
  width: 33%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

input {
  width: 10rem;
  height: 10rem;
  border-color: transparent;
  border-radius: 1em;
  cursor: pointer;
}

#random-color {
  width: 10rem;
  height: 10rem;
  outline: none;
  border: 0.5em solid white;
  border-radius: 1em;
  cursor: pointer;
}

.label-input {
  display: flex;
  flex-direction: column;
  line-height: 3;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3em;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}

#switch {
  margin: 0;
  width: auto;
  justify-self: center;
  align-self: center;
  padding: 1rem;
  background-color: gray;
  border-radius: 50%;
}
