* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  background: linear-gradient(to right, red, yellow);
}

main {
  margin-top: 20rem;
  height: 79vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr 0.2fr 5fr;
  align-items: flex-end;
}

h1 {
  font: 500 3.5em "Raleway", sans-serif;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#colors-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

input {
  width: 10rem;
  height: 10rem;
  border-color: transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
}

#random-color {
  width: 10rem;
  height: 10rem;
  outline: none;
  border: 0.3em solid white;
  border-radius: 0.3rem;
  cursor: pointer;
}

.label-input {
  display: flex;
  flex-direction: column;
  line-height: 3;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.3em;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid white;
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.3);
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-top: 0.15rem solid rgb(255, 255, 255);
}

sub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

#to-top {
  transform: rotateZ(180deg);
}

.switch {
  margin: 0 2rem;
  text-align: center;
  padding: 0.5rem;
  height: 2em;
  width: 2em;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0.1rem solid white;
  border-radius: 50%;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
